<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #standortForm="ngForm">
      <div class="form-group">
        <label for="strasse">Straße</label>
        <input type="text" [(ngModel)]="standort.strasse"
               class="form-control"
               id="strasse"
               name="strasse"
               placeholder="Musterweg"
        >
      </div>

      <div class="form-group">
        <label for="hausnummer">Hausnummer</label>
        <input type="text" [(ngModel)]="standort.hausnummer"
               class="form-control"
               id="hausnummer"
               name="hausnummer"
               placeholder="42a"
        >
      </div>

      <div class="form-group">
        <label for="plz">PLZ</label>
        <input type="text" [(ngModel)]="standort.plz"
               class="form-control"
               id="plz"
               name="plz"
               placeholder="54321"
        >
      </div>

      <div class="form-group">
        <label for="ort">Ort</label>
        <input type="text" [(ngModel)]="standort.ort"
               class="form-control"
               id="ort"
               name="ort"
               placeholder="Musterort"
               required #ort="ngModel">
      </div>
      <div [hidden]="!ort.pristine" class="alert alert-danger">Ort ist obligatorisch!</div>


      <ul class="text-center list-inline py-3">
        <li class="list-inline-item">
          <button type="submit" [disabled]="!standortForm.form.valid"
                  class="btn btn-success">Hinzufügen
          </button>
        </li>
        <li class="list-inline-item">
          <button type="button"
                  class="btn btn-danger" (click)="gotoStandortIndex()">Abbrechen
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>


