<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #personForm="ngForm">
      <div class="form-group">
        <label for="nachname">Nachname</label>
        <input type="text" [(ngModel)]="person.nachname"
               class="form-control"
               id="nachname"
               name="nachname"
               placeholder="Nachnamen eintragen"
               required #nachname="ngModel">
      </div>
      <div [hidden]="!nachname.pristine" class="alert alert-danger">Nachname fehlt</div>

      <div class="form-group">
        <label for="vorname">Vorname</label>
        <input type="text" [(ngModel)]="person.vorname"
               class="form-control"
               id="vorname"
               name="vorname"
               placeholder="Vornamen eintragen"
               required #vorname="ngModel">
      </div>
      <div [hidden]="!vorname.pristine" class="alert alert-danger">Vorname fehlt</div>

      <div class="form-group">
        <label for="geburtstag">geburtstag</label>
        <input type="text" [(ngModel)]="person.geburtstag"
               class="form-control"
               id="geburtstag"
               name="geburtstag"
               placeholder="geburtstag eintragen"
               required #geburtstag="ngModel">
      </div>
      <div [hidden]="!geburtstag.pristine" class="alert alert-danger">Geburtstag is required</div>

      <div class="form-group">
        <label for="abteilung">abteilung</label>
        <input type="text" [(ngModel)]="person.abteilung"
               class="form-control"
               id="abteilung"
               name="abteilung"
               placeholder="abteilung eintragen"
               required #abteilung="ngModel">
      </div>
      <div [hidden]="!abteilung.pristine" class="alert alert-danger">Abteilung is required</div>

      <div class="form-group">
        <label for="standortId">standortId</label>
        <input type="text" [(ngModel)]="person.standortId"
               class="form-control"
               id="standortId"
               name="standortId"
               placeholder="standortId eintragen"
               required #standortId="ngModel">
      </div>
      <div [hidden]="!standortId.pristine" class="alert alert-danger">standortId is required</div>

      <div class="form-group">
        <label for="anstellungstag">anstellungstag</label>
        <input type="text" [(ngModel)]="person.anstellungstag"
               class="form-control"
               id="anstellungstag"
               name="anstellungstag"
               placeholder="anstellungstag eintragen"
               required #anstellungstag="ngModel">
      </div>
      <div [hidden]="!anstellungstag.pristine" class="alert alert-danger">anstellungstag is required</div>


      <button type="submit" [disabled]="!personForm.form.valid"
              class="btn btn-info">Hinzufügen
      </button>
    </form>
  </div>
</div>

