<div class="row">
  <div class="col-12 text-right mb-3">
    <a href="#" [routerLink]="['/standort/add-form']" class="btn btn-secondary">Standort hinzufügen</a>
  </div>
  <button type="button"
          class="btn btn-danger" (click)="test()">Test
  </button>
</div>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Straße</th>
    <th scope="col">Hausnummer</th>
    <th scope="col">PLZ</th>
    <th scope="col">Ort</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let standort of standorte">
    <td>{{ standort.id }}</td>
    <td>{{ standort.strasse }}</td>
    <td>{{ standort.hausnummer }}</td>
    <td>{{ standort.plz }}</td>
    <td>{{ standort.ort }}</td>
    <td>

      <a href="#" [routerLink]="['/standort/', standort.id, 'edit-form']" class="btn btn-primary">Bearbeiten</a>

      <button type="button" (click)="deleteStandort(standort.id)" class="btn btn-danger" [disabled]=false>Löschen
      </button>

    </td>
  </tr>
  </tbody>
</table>


