<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nachname</th>
        <th scope="col">Vorname</th>
        <th scope="col">Geburtstag</th>
        <th scope="col">Abteilung</th>
        <th scope="col">Standort-ID</th>
        <th scope="col">Anstellungstag</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let person of personen">
        <td>{{ person.id }}</td>
        <td>{{ person.nachname }}</td>
        <td>{{ person.vorname }}</td>
        <td>{{ person.geburtstag }}</td>
        <td>{{ person.abteilung }}</td>
        <td>{{ person.standortId }}</td>
        <td>{{ person.anstellungstag }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

